<li class="{{color}}">
    <div class="w3-row">
        <div class="w3-col s3 w3-center">
            <p>{{day}}</p>
        </div>
        <div class="w3-col s3 w3-center">
            <p>ChallengeName: {{challengeName}}</p>
        </div>
        <div class="w3-col s3 w3-center">
            <p>Reps: {{reps}}</p>
        </div>
        <div class="w3-col s3 w3-center">
            {{>completeBtn}}
        </div>
    </div>
</li>